html{
  color:#000;
}
body{
  margin: 0;
  padding: 0;
  font: 12px Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
}
body,h1,h2,h3,h4,h5,h6,p,dl,dd,ul,ol,form,input,textarea,th,td,select
{ margin:0; padding:0;}
em{ font-style:normal;}
li{ list-style:none;}
a{ text-decoration:none;}
img{ border:none; vertical-align:top;}
table{ border-collapse:collapse;}
input,textarea{ outline:none;}
textarea{ resize:none; overflow:auto;}
.clearfix:after{display:table;clear:both;content:" ";}
input:focus,textarea:focus {
  outline: none;
}