.Header{
    width:100%;
    height:210px;
    background-image:url('../../../images/bilibili01.png') ;
    background-size: cover;
    background-position: -190px 0;
    margin: 0;
    padding: 0;
}
